:root {
  --page-layout: 20% 60% 20%;
}

* {
  padding: 0px;
  margin: 0px;
  font-family: 'Montserrat', sans-serif;
  z-index: 1;
}

.light {
  font-weight: 300;
}

.medium {
  font-weight: 500;
}

.regular {
  font-weight: 400;
}

.semiBold {
  font-weight: 600;
}

.hidden {
  display: none;
}

body {
  background: white;
}

/*first box*/

.side {
  background: grey;
}

/*second box*/

/*parent*/

.main {
  background: #D8D8D8;
}

/* header */
.header {
  height: 45vh;
  background-image: url("/images/Image 1_1.png");
  background-size: cover;
  background-repeat: no-repeat;
  /* filter: brightness(80%); */
  z-index: 1;
}

/*children*/

.mcText {
  text-align: center;
  color: white;
  z-index: 10;
}

.mctUpper {
  font-size: 7vh;
  text-shadow: #1d1818 3px 4px 2px;
  padding-top: 2vh;
}

.mctLower {
  font-size: 4vh;
  text-shadow: #1d1818 3px 3px 2px;
  padding-top: 40px;
}

/* responsive part */
@media only screen and (max-width: 1024px) {
  .responsive-header {
    height: 35vh;
  }

  .responsive-container {
    padding-left: 0 !important;
    padding-right: 0 !important;
    max-width: 100vw !important;
  }

  .responsive-mctUpper {
    font-size: 5vh;
  }

  .responsive-mctLower {
    font-size: 3vh;
  }
}