* {
    padding: 0px;
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
}

.light {
    font-weight: 300;
}

.medium {
    font-weight: 500;
}

.regular {
    font-weight: 400;
}

.semiBold {
    font-weight: 600;
}

body {

}

/*first box*/

.App {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    height: 100vh;
}

.side {
    background: grey;
}

/*second box*/

/*parent*/

.main {
    display: grid;
    grid-template-columns: 15% 70% 15%;
    grid-template-rows: 5% 70% 20% 5%;
    background: #D8D8D8;

}

/*children*/

.imageTest {
    background-image: url("/images/landing-bg.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    filter: brightness(60%);
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;
    z-index: 1;
}

.mHeader {
    display: grid;
    grid-template-columns: 15% 70% 15%;

    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    background: white;
}

.mhText {
    grid-column-start: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mCenter {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 4;

    /*--------*/
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 55% 45%;

    z-index: 2;
}

.mFooter {
    background: #D8D8D8;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 4;
}

/*third box*/

.mcText {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.mctUpper {
    margin-top: 17.5%;
    grid-row-start: 1;
    font-size: 45px;
}

.mctLower {
    grid-row-start: 2;
    font-size: 24px;
}

.mcSlider {
    background: white;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;

    display: grid;
    grid-template-columns: 5% 90% 5%;
    grid-template-rows: 20% 45% 35%;
}

.makelloSlider {
    position: relative;
}

/*forth box*/

.sliderText {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.slider {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    background: #D8D8D8;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    color: blue;
}

.bottomInputs {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.submitButton {
    color: white;
    background: #1D4585;
    height: 3vh;
    width: 7vw;
}

.submitButtonBig {
    color: white;
    background: #1D4585;
    height: 6vh;
    width: 12vw;
    font-size: 20px;
}

.userInput {
    background: #F2F2F2;
    height: 3vh;
    width: 15vw;
}

.hidden {
    display: none;
}

/*page two*/

.main2 {
    display: grid;
    grid-template-columns: 12.5% 75% 12.5%;
    grid-template-rows: 60% 40%;
    background: #D8D8D8;
}

.m2Upper {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;

    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 2.5% 35% 55% 7.5%;
}

.m2uText {
    grid-column-start: 1;
    grid-row-start: 2;
    grid-row-end: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    font-size: 22px;
}

.bigBlue {
    color: #1D4585;
    font-size: 72px;
}

.m2uChart {
    background: white;
    grid-column-start: 1;
    grid-row-start: 3;
    grid-row-end: 4;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.m2Lower {
    color: white;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    z-index: 2;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 2.5% 27% 63% 7.5%;
}

.imageTest2 {
    background-image: url("/images/savings-bg.png");
    background-repeat: no-repeat;
    background-size: 100%;
    filter: brightness(60%);
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;
    z-index: 1;
}

.m2lTop {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.m2lBottom {
    color: black;
    background: white;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

/*page three*/

.main3 {
    display: grid;
    grid-template-columns: 12.5% 75% 12.5%;
    grid-template-rows: 20% 50% 40%;
    background: white;
    font-size: 20px;
}

.m3Upper {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.m3Middle {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
}

.m3mLeft {
    border-right: 1px solid #D8D8D8;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 2;
}

.m3mRight {
    border-left: 1px solid #D8D8D8;
    display: grid;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-template-columns: 10% 80% 10%;
    grid-text-emphasis: 20% 60% 20%;
}

.m3mrM {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.m3mrL {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}

.m3Lower {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}

.styled-select select {
    background: #F2F2F2;
    height: 5vh;
    width: 15vw;
}